/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before

body {
  font-size: 1.6rem;
  background-image: url(/index/img/background.jpg);
  position: fixed;
}

img {
  max-width: 100%;
}

/*INICIO HEADER Y NAVBAR*/

.header-navbar{
  background-color: black;
}

.title-nav{
  color: white;
  font-size: 4.5rem;
}

.items-nav{
  color: white;
  font-size: 4.5rem;
}

/*FIN HEADER Y NAVBAR*/

/*INICIO NUESTROS PRODUCTOS*/

.nuestros-productos{
  background-color: white;
}

.nuestros-productos h2{

}

/*FIN NUESTROS PRODUCTOS*/

/*INICIO FOOTER*/

.footer{
  background-color: black;
}

.card-footer{
  display: flex;
}


/*FIN FOOTER*/

